main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f7f9fb;
}

.modal-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
